<div class="chatgpt-main-page">
  <div class="container">
    <a class="navbar-brand" href="https://www.ownai.net/" target="_blank">
      own<span class="navbar-text">AI</span>
    </a>
    <div class="info-section d-flex justify-content-center">
      <h2 class="info-text">Welcome to <span> {{ title }} ! </span>
        <p class="powered-by-text">- powered by OpenAI</p>
      </h2>
    </div>
    <app-chatbot-dialog></app-chatbot-dialog>
  </div>
  <!-- Technology used section  -->
  <div class="container-fluid tech-used-section">
    <div class="row">
      <div class="col d-flex justify-content-between">
        <div class="techused">
          Technologies used:
          <a href="https://platform.openai.com/docs/introduction" target="_blank" class="ms-2 tooltip-container"> <img
              src="/assets/images/openai-logo.svg" alt="openai" width="24px"><span
              class="custom-tooltip">OpenAI</span></a>
          <a href="https://angular.io/" target="_blank" class="tooltip-container"> <img
              src="/assets/images/angular-logo.png" class="angular" alt="angular"><span
              class="custom-tooltip">Angular</span></a>
          <a href="https://nodejs.org/" target="_blank" class="ms-2 tooltip-container"> <img
              src="/assets/images/node-js-icon.png" alt="node.js" width="24px"><span
              class="custom-tooltip">Node.js</span></a>
        </div>
        <div class="ownAI-link-div">
          <a class="ownAI-link" href="https://www.ownai.net/" target="_blank"
            aria-label="ownAI"><u>https://www.ownai.net/</u></a>
        </div>
      </div>
    </div>
  </div>
</div>